body {
	font-family: Arial, Helvetica, sans-serif;
}

#index .container {
	margin-top: 50px;
}

h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

hr {
	margin-left: 30px;
	margin-right: 30px;
}

label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	font-size: 18px;
}

.hidden {
	display: none;
	visibility: hidden;
}

.initial-hidden {
	display: none;
	visibility: hidden;
}

.headshot-wrapper {
	margin: 10px;
	box-sizing: border-box;
	border: 2px solid transparent;
	width: 170px;
	height: 170px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	overflow: hidden;
}

.headshot-wrapper img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.headshot-wrapper:hover {
	border: 2px solid black;
	cursor: pointer;
}

.overlay {
	height: 166px;
	width: 166px;
	transition: all 0.5s;
	position: absolute;
	float: left;
	vertical-align: bottom;
}

.overlay text {
	color: white;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.incorrect {
	background-color: rgba(200, 0, 0, 0.45);
}

.correct {
	background-color: rgba(0, 200, 0, 0.45);
}

.overlay.shrunk {
	margin-top: 170px;
	height: 0px;
}

.overlay.shrunk text {
	display: none;
}

.switch {
	position: relative;
	display: inline-block;
	width: 75px;
	height: 35px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

#headshot-container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 30px;
}

#game-container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#target-header {
	margin-top: 45px;
	margin-left: 75px;
	text-align: left;
	display: inline;
}

#scoring {
	float: right;
	margin-right: 100px;
	vertical-align: middle;
	margin-top: 10px;
}

#scoring text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}

#correct-text {
	margin: 5px;
	color: rgb(0, 100, 0);
}

#wrong-text {
	margin: 5px;
	color: rgb(100, 0, 0);
}

#game-controls {
	margin-left: 75px;
}

#timer-text {
	float: right;
	margin-right: 110px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 28px;
}

.timer-correct {
	color: darkgreen;
}

.timer-incorrect {
	color: darkred;
	transition: out 0.5s;
}

@media only screen and (min-width: 1000px) {
	.wide-hidden {
		display: none;
		visibility: hidden;
	}
}

@media only screen and (max-width: 1000px) {
	body {
		text-align: center;
	}

	#scoring {
		float: none;
		text-align: center;
		margin-left: 0;
		margin-right: 0;
	}

	#target-header {
		margin-left: 0;
		margin-right: 0;
	}

	#timer-text {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}

	#headshot-container {
		max-width: 525px;
	}
}

@media only screen and (min-width: 600px) {
	.mid-hidden {
		display: none;
		visibility: hidden;
	}
}

@media only screen and (max-width: 600px) {
	#game-controls {
		margin-left: auto;
		margin-right: auto;
	}

	#game-controls button {
		margin-top: 5px;
	}
}

